@import-normalize;
@import './assets/css/vars.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'alertifyjs/build/css/alertify.css';

body {
    background-color: var(--main-fill-color);
}

.app-logo {
    height: 12vmin;
    padding: 5px;
    margin-right: 5px;
}

.app-breadcrumb{
    background-color: var(--secong-bg-color);
}

.breadcrumb{
    font-size: .8em;
}

.form-control:focus {
    box-shadow: 0 0 0 0.02rem rgba(13, 110, 253, 0.25);
}

.btn-primary {
    background-color: var(--main-bg-color-button);
    border-color: transparent;
    color: var(--main-text-color-button);
}

.btn-light {
    background-color: var(--secong-bg-color-button);
    border-color: transparent;
    color: var(--secong-text-color-button);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #1f4e96;
    border-color: transparent;
    color: #fff;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: var(--secong-hover-color-button);
    border-color: transparent;
    color: var(--secong-text-color-button);
}